    <!-- Meta Data -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title> Konfrut AG | KONE Proje</title>
<meta name="Description" content="Taze hammadde yönetimi, cari işlemler ve ziraat süreçleri için kapsamlı ERP sistemi.">
<meta name="Author" content="ERP Çözümleri">
<meta name="keywords" content="ERP, taze hammadde, cari işlemler, ziraat, tarım yönetimi, stok yönetimi, üretim planlama, maliyet kontrolü, çiftlik yönetimi, tarım ERP, hammadde izleme, finans yönetimi, entegre sistem, verimlilik, sürdürülebilirlik">
